
/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
   
  /*  Possible shades of primary color*/
  --clr-primary-1: #E06B74;
  --clr-primary-2: #98C379;
  --clr-primary-3: #E5C07A;
  --clr-primary-4: #62AEEF;
  /* primary/main color */
  --clr-primary-5: #C778DD;
  --clr-primary-6: #55B6C2;
  --clr-primary-7: #ABB2BF;
  /* background color */
  --clr-primary-8: #282C33;
  
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Fira Code', monospace;
  --ff-secondary: "Open Sans", sans-serif;

  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;

  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1024px;


  --clr-primary: var(--clr-primary-5);
  --backgound: var(--clr-primary-8);
  --foreground: var(--clr-primary-7);
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--backgound);
  color: var(--foreground);
  font-size: 16px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
 
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1 {
  font-weight: var(--fw-6);
  font-size: 31px;
}
h2 {
  font-weight: var(--fw-5);
  font-size: 31px;
}
h3 {
  font-weight: 500;
  font-size: 23px;
}


/* SCREEN SIZE FOR tablet  */
@media screen and (min-width: 767px)  {
    h1 {
    font-size: 32px;
    }
    h2 {
    font-size: 32px;
    }
    h3 {
     font-size: 24px;
    }
   
}


/*  GLOBAL CLASSES */

/* Button  */
.btn {
  background: transparent;
  color: var(--clr-white);
  padding: 8px 16px;
  display: inline-block;
  transition: var(--transition);
  font-size: 16px;
  font-weight: var(--fw-5);
  border: 1px solid var(--clr-primary);
  cursor: pointer;
}
.btn:hover {
  background: rgba(199, 120, 221, 0.2);;
}


/* CONTAINER  */
.container {
      max-width: var(--max-width);
      margin: 0 auto;
      padding: 0 0.938em;
}



/* FLEX ITEM  */
/* FOR TABLET  */
@media screen and  (min-width: 767px) {
.flexwrap {
      display: flex;
      flex-wrap: wrap;
}
.flexcenter {
      display: flex;
      align-items: center;
      justify-content: center;
}
.flexitem {
      display: flex;
      align-items: center;
}
.flexcol {
      display: flex;
      flex-direction: column;
      gap: 1em;
}
}

/* ROW AND COLUMN  */

.row {
      text-align: center;
}
.col-2, 
.col-3, 
.col-4 {
      flex-basis: 100%;
}


@media screen and (min-width: 767px) and (max-width: 1023px) {
.row {   
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}


.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-5{
  width: 160px;
}
}


/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* =========================================================================== */
/* all similar content styling codes */

/* =========================================================================== */
/* navbar styling */
.nav-logo img{
  width: 100%;
  max-width: 20px;
  height: 6px;
}

.nav-logo div {
  display: flex;
  align-items: center;
}

/* =========================================================================== */
/* Scroll up Button  */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--clr-accent);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: var(--foreground);
    z-index: 99;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* ===================================================================  */
/* home section styling */


/* =========================================================================== */
/* about section styling */


/* =========================================================================== */
/* PROJECT  section styling */

/* ------- SINGLE PROJECT DETAILS PAGE -------- */


/* =========================================================================== */
/* Contact section styling */

/* =========================================================================== */
/* footer section styling */



/* MEDIA QUERIES  */
/* for phone  */
@media screen and (max-width: 767px) {
      
}
/* for tablet  */
@media screen and (min-width: 767px) and (max-width: 1023px) {
      
}
/* for desktop  */
@media screen and (min-width: 1024px)  {
      
}